<p id="notice"><%= notice %></p>

<h1 align="center">
  Welcome to <%= @user.username %>'s page
</h1>

<div class="row">
  <div align="center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>

<h4 align="center">
  <strong>Email:</strong>
  <%= @user.email %>
</h4>

<%= render 'articles/article', obj: @user.articles%>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
